#header
{
float:left;
width:100%;
height: 150px;
background-color: red;
}
#jelek
{
float:left;
width:50%;
height: 200px;
background-color: blue;
}
#cantik
{
float:left;
width:50%;
height: 250px;
background-color: yellow;
}
#hm
{
float:left;
width:50%;
height: 50px;
background-color: green;
}